body {
    display: grid;
    place-items: center;
    background-color: var(--blue-100);
    font-family: 'Josefin Sans';
} 

.form-group {
    display: flex;
    flex-direction: column;
}

h1 {
padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--blue-50);
    width: clamp(250px, 70%, 500px);
    gap: 1rem;
}